{
  "openapi": "3.1.0",
  "info": {
    "title": "Goable API",
    "version": "0.0.0",
    "description": "Multi-tenant suitability scoring for outdoor activities across water, snow, air, and land families. Real-time forecast scoring, probabilistic ensembles, LLM intelligence narratives, historical + climate-decadal projections, personalized decision agent, counterfactual analysis, and parametric underwriting.",
    "contact": {
      "name": "Goable",
      "url": "https://goable.io"
    }
  },
  "servers": [
    {
      "url": "https://api.goable.io",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Goable-Key",
        "description": "API key issued per tenant — canonical production header is `X-Goable-Key`. The API also accepts `Authorization: Bearer <key>` for legacy callers but new integrations should use the X-Goable-Key form. Format: 48-char token; prefix (first 16 chars) is DB-indexed, full token SHA-256 hashed. Mint a key from the tenant portal at https://console.goable.io/portal/keys.\n\nGLOBAL 401: every authenticated route returns `401` with error code `UNAUTHORIZED` when the key is missing, malformed, or revoked. This shared response is documented here once and is not repeated in each route's `responses`."
      }
    },
    "schemas": {
      "GeoPoint": {
        "type": "object",
        "required": [
          "lat",
          "lng"
        ],
        "additionalProperties": false,
        "properties": {
          "lat": {
            "type": "number",
            "example": 36.0133
          },
          "lng": {
            "type": "number",
            "example": -5.6044
          }
        }
      },
      "TimeWindow": {
        "type": "object",
        "required": [
          "from",
          "to"
        ],
        "additionalProperties": false,
        "properties": {
          "from": {
            "type": "string",
            "format": "date-time"
          },
          "to": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Machine-readable error code — the stable field to switch on (the human `message` is not stable and not localized). The enum is the canonical registry from the API's `httpErrors.ts`; a client should still keep a generic fallback for a code added by a future release.\n\nThe three 402 'upgrade needed' codes are distinct and NOT interchangeable:\n- `PAYMENT_REQUIRED` — a specific premium capability was requested on a plan that doesn't include it (e.g. ensemble scoring, or historical/portfolio scoring, on Free/Starter). Emitted inline by /v1/score, /v1/score/series, /v1/score/multi, /v1/score/historical, /v1/score/portfolio, /v1/underwriting/*, /v1/projections.\n- `PLAN_UPGRADE_REQUIRED` — a whole endpoint is gated below a minimum plan tier (the `requirePlanAtLeast` middleware). Emitted by e.g. /v1/score/difficulty and other Pro+/Scale-gated routes.\n- `PLAN_LIMIT_EXCEEDED` — the plan is allowed but a per-plan numeric cap was exceeded (e.g. recommend radiusKm / topK). Emitted by /v1/recommend-spot; carries `detail.maxKm` / `detail.maxTopK`.",
            "enum": [
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "CONFLICT",
              "VALIDATION_ERROR",
              "RATE_LIMITED",
              "PLAN_UPGRADE_REQUIRED",
              "PLAN_LIMIT_EXCEEDED",
              "PAYMENT_REQUIRED",
              "SESSION_NOT_FOUND",
              "AUDIT_LOG_NOT_FOUND",
              "ACTIVITY_NOT_FOUND",
              "API_KEY_NOT_FOUND",
              "TENANT_NOT_FOUND",
              "PAID_PLAN_REQUIRES_STRIPE_CUSTOMER",
              "CUSTOM_TENANT_STRIPE_CONFLICT",
              "STRIPE_CUSTOMER_TAKEN",
              "UNKNOWN_SCOPES",
              "SESSION_LOOKUP_UNAVAILABLE",
              "MAX_BRIEFING_SLOTS_EXCEEDED",
              "OUT_OF_EDGE_CASE_RANGE",
              "LLM_BUDGET_EXCEEDED",
              "LLM_KEY_INVALID",
              "WINDOW_TOO_LARGE",
              "FORECAST_HORIZON_EXCEEDED",
              "PORTFOLIO_TOO_LARGE",
              "MAX_ACTIVITIES_EXCEEDED",
              "ARCHIVE_UNAVAILABLE",
              "INVALID_YEARS_RANGE",
              "MARINE_NOT_AVAILABLE",
              "INVALID_TRIGGER",
              "QUOTE_NOT_FOUND",
              "QUOTE_EXPIRED",
              "QUOTE_ALREADY_BOUND",
              "POLICY_NOT_FOUND",
              "POLICY_STATE_TRANSITION",
              "POLICY_STATE",
              "QUOTE_NOT_ISSUABLE",
              "CATALOG_DRIFT",
              "DRIFT_ACTIVE",
              "HISTORICAL_UNAVAILABLE",
              "CLIMATE_UNAVAILABLE",
              "PROJECTION_UNAVAILABLE",
              "WEBHOOK_INVALID_SIGNATURE",
              "SPOT_NOT_PRECOMPUTED",
              "PAYLOAD_TOO_LARGE",
              "IDEMPOTENCY_KEY_CONFLICT",
              "INTERNAL_SERVER_ERROR",
              "SERVICE_UNAVAILABLE",
              "INTELLIGENCE_UNAVAILABLE",
              "ADMIN_BOOTSTRAP_DISABLED",
              "PERSISTENCE_UNAVAILABLE"
            ]
          },
          "message": {
            "type": "string"
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "detail": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "Verdict": {
        "type": "string",
        "enum": [
          "unsafe",
          "not_feasible",
          "poor",
          "marginal",
          "fair",
          "favorable",
          "excellent"
        ]
      },
      "ScoreResponse": {
        "type": "object",
        "required": [
          "session_id",
          "score",
          "verdict",
          "confidence",
          "scoreBasis",
          "breakdown",
          "physics",
          "alerts",
          "eco"
        ],
        "additionalProperties": true,
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable id for this scored session (the `scoring_audit_log` row). Returned on every /v1/score response. Pass it back as `audit_log_id` on POST /v1/outcomes (or as the `:id` on POST /v1/score/:id/outcome) to link the observed outcome to this exact forecast, closing the calibration loop."
          },
          "score": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "verdict": {
            "$ref": "#/components/schemas/Verdict"
          },
          "confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "How much to trust this `score` — a [0,1] multiplicative product of `forecast_skill` × `provider_agreement` × `profile_maturity` × `hierarchical_calibration` × `coverage` (see `confidenceDetail` for the individual factors). It is HORIZON- and CALIBRATION-sensitive:\n\n- `forecast_skill` now DECAYS with forecast lead time (the gap between issuance and the scored target time), the way operational NWP skill degrades: nowcast ≈ 0.90, ~0.78 at 24h, ~0.69 at 72h, ~0.60 at 7 days, ~0.51 at the ~16-day forecast limit. A near-term verdict therefore carries HIGHER confidence than a far-out one for the same spot. (This is a cold-start prior keyed on lead time, NOT yet a measurement of per-stratum skill — it is superseded factor-for-factor once measured skill is wired.)\n- `provider_agreement` defaults to 1.0 for the single-provider case: there is no penalty for the mere absence of a second opinion. A value < 1.0 appears only when ≥2 consensus constituents actually returned samples and diverged.\n- `profile_maturity` reflects catalog maturity (provisional 0.75 → reviewed 0.85 → calibrated 0.95) and RISES as a profile is outcome-calibrated.\n\nNOTE — intentional output shift: because `forecast_skill` decays with horizon and the cold-start factors were raised, `confidence` values differ from earlier releases. A near-term score now sits around ~0.55–0.62 (not the old ~0.41 flat baseline), and far-out scores read lower than near-term ones for the same location. This supersedes the previous documentation that described confidence as flat / independent of horizon / non-decaying. If you display or threshold on `confidence`, re-check your thresholds."
          },
          "scoreBasis": {
            "type": "string",
            "enum": [
              "forecast",
              "gated",
              "no_data"
            ],
            "description": "Explicit discriminator for why `score`/`verdict` came out the way they did. 'forecast' = the normal path, every profile gate passed. 'gated' = a hard gate (safety or feasibility) tripped — `score` is forced to 0, but `breakdown`/`physics` still carry the real per-dimension conditions (each breakdown entry's `contribution` is zeroed, since nothing contributed to the gated 0, while `suitability`/`hasData` and the physics values stay populated) so a no-go response shows WHY. 'no_data' = no weather samples were available at all, so `breakdown`/`physics` are genuinely empty. Do not infer gate/no-data from `breakdown` emptiness — a gate trip populates `breakdown` too; read this field instead."
          },
          "breakdown": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "number",
                  "description": "The raw physical reading for this dimension, in its native unit — this is the operational number to show an operator. Units are per-dimension: wind is KNOTS (e.g. `wind_speed`), wave height METRES (`wave` / `wave_height`), wave period SECONDS (`wave_period`), temperature °C (`air_temp_comfort`, `water_temp`), visibility KM (`visibility`), direction DEGREES. (The engine's full derived `summary` block is intentionally not returned; read operational numbers from here.)"
                },
                "suitability": {
                  "type": "number",
                  "description": "0-1 desirability of `value` for this activity (the profile curve's output) — good for a per-dimension green/amber/red indicator. Distinct from `value`: `value` is the measurement, `suitability` is how good that measurement is."
                },
                "weight": {
                  "type": "number"
                },
                "contribution": {
                  "type": "number",
                  "description": "This dimension's weighted contribution to `score`. Zeroed on a `scoreBasis: \"gated\"` response — nothing contributed to a gated 0 (Σcontribution = 0 = score) — even though `suitability`/`hasData` above still reflect the real conditions."
                },
                "hasData": {
                  "type": "boolean"
                },
                "prerequisite": {
                  "type": "boolean",
                  "description": "True when this dimension's metric carries a feasibility gate — a HARD prerequisite. Below/above its threshold the activity is impossible and the whole score is gated to 0, rather than this dimension merely being weighted. Lets a go/no-go client tell hard prerequisites from soft weighted dimensions straight from the breakdown. Present from catalog v2.4.0 (false on older catalogs)."
                }
              }
            }
          },
          "physics": {
            "type": "object",
            "additionalProperties": true
          },
          "alerts": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "level": {
                  "type": "string",
                  "enum": [
                    "info",
                    "warning",
                    "critical"
                  ]
                },
                "code": {
                  "type": "string",
                  "description": "Stable, machine-readable alert identifier — the field to key a UI, an icon map, or a localized message off (NOT `description`, which is English debug prose and is not localized). Deliberately an open string, not a closed enum: engine codes are fixed in source (NO_DATA, MISSING_DIMENSION_DATA, SAFETY_GATE_UNEVALUATED, SCORE_FLOORED, SAFETY_DATA_UNAVAILABLE, FEASIBILITY_GATE_OBSERVATION_OVERRIDE, and the observed-safety codes ACTIVE_THUNDERSTORM_RISK / ELEVATED_LIGHTNING_RISK / AQI_HAZARDOUS / AQI_VERY_UNHEALTHY / AQI_UNHEALTHY_FOR_ENDURANCE), while gate-trip codes come from the activity profile's catalog and are stable within a profiles-catalog major version (e.g. water sports: NO_RIDABLE_WIND, GALE_FORCE_WIND, HEAVY_RAIN, LOW_VISIBILITY, FLAT_NO_SURF, EXTREME_SURF, HIGH_WIND, STRONG_WIND, RIP_CURRENT_HAZARD, HIGH_SEAS, POOR_SURFACE_VISIBILITY, POOR_UNDERWATER_VISIBILITY, STRONG_CURRENT_UNSAFE). Map known codes; keep a generic fallback for codes added by a future catalog version."
                },
                "description": {
                  "type": "string",
                  "description": "Human-readable English explanation of the alert. Debug / fallback copy only — it is NOT localized. Localize your UI off `code`, not this field."
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "safety",
                    "feasibility"
                  ],
                  "description": "Why this alert matters: 'safety' = a danger dimension; 'feasibility' = impossible at any skill level (e.g. no rideable wind). On a gate-trip (critical) alert it explains the no-go. Also present on the safety-advisory warnings SAFETY_GATE_UNEVALUATED and SAFETY_DATA_UNAVAILABLE (always 'safety'), so a consumer can treat 'a safety check did not run' distinctly from an ordinary data gap. Absent on non-safety informational alerts. Present from catalog v2.4.0 (gate trips) / contract v0.5 (safety advisories)."
                },
                "subject": {
                  "type": "string",
                  "description": "Machine-readable slug for the specific hazard, gate, or dimension this alert is about — the field to disambiguate two alerts that share the same `code`. Two SAFETY_DATA_UNAVAILABLE warnings on one response carry subject 'lightning' and 'air_quality' respectively, so a consumer can tell which safety gate went unevaluated without parsing the English `description`. On a gate-trip alert it is the gate's metric name (e.g. 'wind_speed_kn'); on the consolidated SAFETY_GATE_UNEVALUATED advisory it is the comma-joined metric slug(s). Open string, not a closed enum — new hazards/metrics add new values. Present from contract v0.5."
                }
              }
            }
          },
          "eco": {
            "type": "object",
            "additionalProperties": true
          },
          "distribution": {
            "type": "object",
            "additionalProperties": true,
            "description": "Present on ensemble requests"
          },
          "confidenceDetail": {
            "$ref": "#/components/schemas/ConfidenceDetailForecast"
          },
          "calibration_provenance": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/CalibrationProvenance"
              },
              {
                "type": "null"
              }
            ]
          },
          "assimilation": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ScoreSeriesResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "session_id",
          "profile_slug",
          "granularity",
          "series"
        ],
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Correlation id for this time-series call. Always returned. NOTE: like /v1/score/multi and unlike POST /v1/score, this is NOT linkable — /v1/score/series does not write a `scoring_audit_log` row, so passing it as `audit_log_id` on POST /v1/outcomes is rejected 404. Only single POST /v1/score session_ids close the calibration loop."
          },
          "profile_slug": {
            "type": "string",
            "description": "Resolved catalog profile slug for the requested activity. Always returned."
          },
          "granularity": {
            "type": "string",
            "enum": [
              "hourly",
              "3-hourly",
              "daily"
            ],
            "description": "Bucket granularity used for the series (defaults to `hourly` when the request omits it). Always returned."
          },
          "series": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": [
                "timestamp",
                "score",
                "verdict",
                "confidence",
                "alerts"
              ],
              "properties": {
                "timestamp": {
                  "type": "string",
                  "format": "date-time"
                },
                "score": {
                  "type": "number"
                },
                "verdict": {
                  "$ref": "#/components/schemas/Verdict"
                },
                "confidence": {
                  "type": "number"
                },
                "alerts": {
                  "type": "array",
                  "description": "Per-bucket scoring alerts (same shape as /v1/score and /v1/score-multi). A bucket forced to unsafe/0 carries its gate reason here — alerts[].kind = 'safety' | 'feasibility'; alerts[].subject disambiguates same-`code` alerts (e.g. 'lightning' vs 'air_quality').",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "level": {
                        "type": "string",
                        "enum": [
                          "info",
                          "warning",
                          "critical"
                        ]
                      },
                      "code": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "safety",
                          "feasibility"
                        ]
                      },
                      "subject": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ScoreMultiResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "session_id",
          "results"
        ],
        "properties": {
          "session_id": {
            "type": "string",
            "format": "uuid",
            "description": "Correlation id for this multi-activity call. Always returned. NOTE: unlike a POST /v1/score `session_id`, this is NOT linkable — /v1/score/multi does not write a `scoring_audit_log` row, so passing it as `audit_log_id` on POST /v1/outcomes is rejected 404. Only single POST /v1/score session_ids close the calibration loop."
          },
          "location": {
            "$ref": "#/components/schemas/GeoPoint"
          },
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": [
                "activity"
              ],
              "properties": {
                "activity": {
                  "type": "string"
                },
                "profile_slug": {
                  "type": "string"
                },
                "score": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "verdict": {
                  "$ref": "#/components/schemas/Verdict"
                },
                "confidence": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1
                },
                "breakdown": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "value": {
                        "type": "number"
                      },
                      "suitability": {
                        "type": "number"
                      },
                      "weight": {
                        "type": "number"
                      },
                      "contribution": {
                        "type": "number"
                      },
                      "hasData": {
                        "type": "boolean"
                      },
                      "prerequisite": {
                        "type": "boolean",
                        "description": "True when this dimension's metric carries a feasibility gate (a HARD prerequisite) — see /v1/score breakdown[].prerequisite. Present from catalog v2.4.0."
                      }
                    }
                  }
                },
                "distribution": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Present on ensemble requests"
                },
                "alerts": {
                  "type": "array",
                  "description": "Per-activity scoring alerts (same shape as /v1/score). verdict = 'not_feasible' already distinguishes an impossible-but-not-dangerous read (e.g. no rideable wind) from 'unsafe'; alerts[].kind = 'feasibility' on the triggering alert carries the same signal for callers that want the underlying reason. alerts[].subject disambiguates same-`code` alerts (e.g. 'lightning' vs 'air_quality').",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "level": {
                        "type": "string",
                        "enum": [
                          "info",
                          "warning",
                          "critical"
                        ]
                      },
                      "code": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "kind": {
                        "type": "string",
                        "enum": [
                          "safety",
                          "feasibility"
                        ]
                      },
                      "subject": {
                        "type": "string"
                      }
                    }
                  }
                },
                "error": {
                  "type": "string",
                  "description": "\"ACTIVITY_NOT_FOUND\" when the activity slug does not resolve."
                }
              }
            }
          },
          "rankedByScore": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Activity slugs sorted by score descending; errored activities are omitted."
          }
        }
      },
      "CalibrationProvenance": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "sub-spot",
              "cluster",
              "region",
              "base"
            ]
          },
          "slug": {
            "type": "string"
          },
          "scoring_profile_slug": {
            "type": "string"
          },
          "sub_spot_slug": {
            "type": "string"
          },
          "distance_to_sub_spot_m": {
            "type": "number"
          },
          "tier": {
            "type": "integer",
            "enum": [
              1,
              2,
              3
            ]
          },
          "tier_source": {
            "type": "string",
            "enum": [
              "catalog",
              "classifier"
            ]
          }
        }
      },
      "CalibrationProvenanceSummary": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "level",
          "n_local",
          "shrinkage_weight_from_parent"
        ],
        "properties": {
          "level": {
            "type": "string",
            "enum": [
              "base",
              "region",
              "cluster",
              "sub-spot"
            ]
          },
          "n_local": {
            "type": [
              "integer",
              "null"
            ]
          },
          "shrinkage_weight_from_parent": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1
          }
        }
      },
      "DriftFlag": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "severity",
          "since_timestamp",
          "cell",
          "metric",
          "reference_type",
          "days_in_decline",
          "recalibration_triggered"
        ],
        "properties": {
          "severity": {
            "type": "string",
            "enum": [
              "watch",
              "warning",
              "critical"
            ]
          },
          "since_timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "cell": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "activity",
              "sub_spot",
              "horizon_h"
            ],
            "properties": {
              "activity": {
                "type": "string"
              },
              "sub_spot": {
                "type": "string",
                "nullable": true
              },
              "horizon_h": {
                "type": "integer"
              }
            }
          },
          "metric": {
            "type": "string",
            "enum": [
              "decision_bss"
            ]
          },
          "reference_type": {
            "type": "string",
            "enum": [
              "operator_outcome"
            ]
          },
          "days_in_decline": {
            "type": "integer"
          },
          "recalibration_triggered": {
            "type": "boolean"
          }
        }
      },
      "ConfidenceDetail": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ConfidenceDetailForecast"
          },
          {
            "$ref": "#/components/schemas/ConfidenceDetailHistorical"
          },
          {
            "$ref": "#/components/schemas/ConfidenceDetailClimate"
          }
        ],
        "discriminator": {
          "propertyName": "mode",
          "mapping": {
            "forecast": "#/components/schemas/ConfidenceDetailForecast",
            "historical": "#/components/schemas/ConfidenceDetailHistorical",
            "climate": "#/components/schemas/ConfidenceDetailClimate"
          }
        }
      },
      "ConfidenceDetailForecast": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "mode",
          "forecast_skill",
          "provider_agreement",
          "profile_maturity",
          "hierarchical_calibration"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "forecast"
            ]
          },
          "forecast_skill": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "[0,1] skill factor in the confidence fold. It now DECAYS with forecast lead time (nowcast ≈ 0.90, ~0.78 at 24h, ~0.69 at 72h, ~0.60 at 7 days, ~0.51 at the ~16-day limit) rather than being flat, so a near-term bucket scores higher than a far-out one. This is a cold-start prior keyed on lead time, not yet a measurement of per-stratum skill; it is replaced factor-for-factor when measured skill is available."
          },
          "provider_agreement": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "[0,1] agreement across consensus constituents. Defaults to 1.0 for the single-provider (or unmeasured) case — no penalty for the absence of a second opinion; < 1.0 only when ≥2 constituents returned samples and diverged."
          },
          "profile_maturity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "[0,1] catalog-maturity factor: provisional 0.75 → reviewed 0.85 → calibrated 0.95. RISES as the activity profile is outcome-calibrated."
          },
          "hierarchical_calibration": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "calibration_provenance": {
            "$ref": "#/components/schemas/CalibrationProvenanceSummary"
          },
          "skill_calibration": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "applied",
              "n_train",
              "cohort_hash",
              "scalar"
            ],
            "properties": {
              "applied": {
                "type": "boolean"
              },
              "n_train": {
                "type": "integer"
              },
              "cohort_hash": {
                "type": "string"
              },
              "scalar": {
                "type": "number",
                "minimum": 0.85,
                "maximum": 1
              }
            }
          },
          "drift_flag": {
            "$ref": "#/components/schemas/DriftFlag"
          }
        }
      },
      "ConfidenceDetailHistorical": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "mode",
          "sample_size_confidence",
          "base_climatology_quality",
          "calibration_confidence",
          "hierarchical_calibration"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "historical"
            ]
          },
          "sample_size_confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "base_climatology_quality": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "calibration_confidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "hierarchical_calibration": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "calibration_provenance": {
            "$ref": "#/components/schemas/CalibrationProvenanceSummary"
          },
          "drift_flag": {
            "$ref": "#/components/schemas/DriftFlag"
          }
        }
      },
      "ConfidenceDetailClimate": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "mode",
          "model_spread",
          "bias_correction_residual",
          "scenario_uncertainty",
          "horizon_uncertainty",
          "hierarchical_calibration"
        ],
        "properties": {
          "mode": {
            "type": "string",
            "enum": [
              "climate"
            ]
          },
          "model_spread": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "bias_correction_residual": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "scenario_uncertainty": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "horizon_uncertainty": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "hierarchical_calibration": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "calibration_provenance": {
            "$ref": "#/components/schemas/CalibrationProvenanceSummary"
          },
          "drift_flag": {
            "$ref": "#/components/schemas/DriftFlag"
          }
        }
      },
      "SerialisedPolicy": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "tenantId",
          "quoteId",
          "status",
          "premiumCollection",
          "coverageWindow",
          "coverageYear",
          "trigger",
          "policyTerms",
          "boundAt",
          "triggeredAt",
          "settledAt",
          "expiredAt",
          "settlementReference"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tenantId": {
            "type": "string",
            "format": "uuid"
          },
          "quoteId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "bound",
              "triggered",
              "settled",
              "expired"
            ]
          },
          "payoutAmount": {
            "type": [
              "number",
              "null"
            ],
            "description": "Null for mixed-currency portfolios; the breakdown lives on the underlying quote."
          },
          "payoutCurrency": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "EUR",
                  "USD",
                  "GBP",
                  "CHF"
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "premiumPaid": {
            "type": [
              "number",
              "null"
            ]
          },
          "premiumCollection": {
            "type": "string",
            "enum": [
              "external",
              "stripe",
              "invoice_due"
            ]
          },
          "coverageWindow": {
            "type": "object",
            "required": [
              "monthFrom",
              "dayFrom",
              "monthTo",
              "dayTo"
            ],
            "additionalProperties": false,
            "properties": {
              "monthFrom": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              },
              "dayFrom": {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              },
              "monthTo": {
                "type": "integer",
                "minimum": 1,
                "maximum": 12
              },
              "dayTo": {
                "type": "integer",
                "minimum": 1,
                "maximum": 31
              }
            }
          },
          "coverageYear": {
            "type": "integer",
            "minimum": 2000,
            "maximum": 2100
          },
          "trigger": {
            "type": "object",
            "additionalProperties": true,
            "description": "Frozen at bind time — same shape as the quote's normalised trigger."
          },
          "policyTerms": {
            "type": "object",
            "additionalProperties": true,
            "description": "Frozen snapshot of the per-spot profile + payout terms — decouples the policy from later catalog changes."
          },
          "boundAt": {
            "type": "string",
            "format": "date-time"
          },
          "triggeredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "settledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "settlementReference": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SerialisedPayoutEvent": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "id",
          "policyId",
          "spotIndex",
          "eventStartAt",
          "eventEndAt",
          "hoursFired",
          "payoutAmount",
          "payoutCurrency",
          "detectedAt",
          "evaluationSource"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "policyId": {
            "type": "string",
            "format": "uuid"
          },
          "spotIndex": {
            "type": "integer",
            "minimum": 0
          },
          "eventStartAt": {
            "type": "string",
            "format": "date-time"
          },
          "eventEndAt": {
            "type": "string",
            "format": "date-time"
          },
          "hoursFired": {
            "type": "number"
          },
          "payoutAmount": {
            "type": "number"
          },
          "payoutCurrency": {
            "type": "string",
            "enum": [
              "EUR",
              "USD",
              "GBP",
              "CHF"
            ]
          },
          "detectedAt": {
            "type": "string",
            "format": "date-time"
          },
          "evaluationSource": {
            "type": "string",
            "enum": [
              "manual",
              "scheduled"
            ]
          }
        }
      },
      "UnderwritingQuoteResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": [
          "policy",
          "expectedPayouts",
          "expectedPremium",
          "modelConfidence",
          "advisoryLevel",
          "issuable",
          "notes",
          "underlying"
        ],
        "properties": {
          "policy": {
            "type": "object",
            "additionalProperties": true,
            "required": [
              "coverageWindow",
              "trigger",
              "historicalYearsRange"
            ],
            "properties": {
              "coverageWindow": {
                "type": "object",
                "required": [
                  "monthFrom",
                  "dayFrom",
                  "monthTo",
                  "dayTo"
                ],
                "additionalProperties": false,
                "properties": {
                  "monthFrom": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12
                  },
                  "dayFrom": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31
                  },
                  "monthTo": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12
                  },
                  "dayTo": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 31
                  }
                }
              },
              "trigger": {
                "type": "object",
                "additionalProperties": true,
                "description": "Normalised trigger echoed back with defaulted consecutiveHours/cooldownHours."
              },
              "historicalYearsRange": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "from",
                  "to"
                ],
                "properties": {
                  "from": {
                    "type": "integer"
                  },
                  "to": {
                    "type": "integer"
                  }
                }
              },
              "spot": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "resolvedProfileSlug",
                  "point",
                  "payout"
                ],
                "properties": {
                  "resolvedProfileSlug": {
                    "type": "string"
                  },
                  "point": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "spotId": {
                    "type": "string"
                  },
                  "payout": {
                    "type": "object",
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "amount": {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      "currency": {
                        "type": "string",
                        "enum": [
                          "EUR",
                          "USD",
                          "GBP",
                          "CHF"
                        ]
                      }
                    }
                  },
                  "tier": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "enum": [
                      1,
                      2,
                      3,
                      null
                    ],
                    "description": "Sub-spot tier (1/2/3) applied to the tier risk multiplier; null when no sub-spot resolved."
                  },
                  "tierSource": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "catalog",
                      "classifier",
                      null
                    ],
                    "description": "Provenance of the tier: 'catalog' from profile YAML, 'classifier' from L11 confidence=1.0 override, null when no tier applied."
                  }
                }
              },
              "portfolio": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "resolvedProfileSlug",
                    "point",
                    "payout"
                  ],
                  "properties": {
                    "resolvedProfileSlug": {
                      "type": "string"
                    },
                    "point": {
                      "$ref": "#/components/schemas/GeoPoint"
                    },
                    "spotId": {
                      "type": "string"
                    },
                    "payout": {
                      "type": "object",
                      "required": [
                        "amount",
                        "currency"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "amount": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "currency": {
                          "type": "string",
                          "enum": [
                            "EUR",
                            "USD",
                            "GBP",
                            "CHF"
                          ]
                        }
                      }
                    },
                    "tier": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "enum": [
                        1,
                        2,
                        3,
                        null
                      ],
                      "description": "Sub-spot tier (1/2/3) applied to the tier risk multiplier; null when no sub-spot resolved."
                    },
                    "tierSource": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "catalog",
                        "classifier",
                        null
                      ],
                      "description": "Provenance of the tier: 'catalog' from profile YAML, 'classifier' from L11 confidence=1.0 override, null when no tier applied."
                    }
                  }
                }
              }
            }
          },
          "expectedPayouts": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "byCurrency"
            ],
            "properties": {
              "byCurrency": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "EUR": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "mean",
                      "p10",
                      "p50",
                      "p90",
                      "perYear",
                      "varianceStability"
                    ],
                    "properties": {
                      "mean": {
                        "type": "number"
                      },
                      "p10": {
                        "type": "number"
                      },
                      "p50": {
                        "type": "number"
                      },
                      "p90": {
                        "type": "number"
                      },
                      "perYear": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "varianceStability": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  },
                  "USD": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "mean",
                      "p10",
                      "p50",
                      "p90",
                      "perYear",
                      "varianceStability"
                    ],
                    "properties": {
                      "mean": {
                        "type": "number"
                      },
                      "p10": {
                        "type": "number"
                      },
                      "p50": {
                        "type": "number"
                      },
                      "p90": {
                        "type": "number"
                      },
                      "perYear": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "varianceStability": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  },
                  "GBP": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "mean",
                      "p10",
                      "p50",
                      "p90",
                      "perYear",
                      "varianceStability"
                    ],
                    "properties": {
                      "mean": {
                        "type": "number"
                      },
                      "p10": {
                        "type": "number"
                      },
                      "p50": {
                        "type": "number"
                      },
                      "p90": {
                        "type": "number"
                      },
                      "perYear": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "varianceStability": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  },
                  "CHF": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "mean",
                      "p10",
                      "p50",
                      "p90",
                      "perYear",
                      "varianceStability"
                    ],
                    "properties": {
                      "mean": {
                        "type": "number"
                      },
                      "p10": {
                        "type": "number"
                      },
                      "p50": {
                        "type": "number"
                      },
                      "p90": {
                        "type": "number"
                      },
                      "perYear": {
                        "type": "array",
                        "items": {
                          "type": "number"
                        }
                      },
                      "varianceStability": {
                        "type": "number",
                        "minimum": 0,
                        "maximum": 1
                      }
                    }
                  }
                }
              }
            }
          },
          "expectedPremium": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "byCurrency",
              "loadingFactor"
            ],
            "properties": {
              "byCurrency": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "EUR": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "fair",
                      "loaded",
                      "tierMultiplierWeightedAvg"
                    ],
                    "properties": {
                      "fair": {
                        "type": "number"
                      },
                      "loaded": {
                        "type": "number"
                      },
                      "tierMultiplierWeightedAvg": {
                        "type": "number",
                        "description": "Weighted-average tier risk multiplier applied across spots in this currency (1.0 when no sub-spot)."
                      }
                    }
                  },
                  "USD": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "fair",
                      "loaded",
                      "tierMultiplierWeightedAvg"
                    ],
                    "properties": {
                      "fair": {
                        "type": "number"
                      },
                      "loaded": {
                        "type": "number"
                      },
                      "tierMultiplierWeightedAvg": {
                        "type": "number",
                        "description": "Weighted-average tier risk multiplier applied across spots in this currency (1.0 when no sub-spot)."
                      }
                    }
                  },
                  "GBP": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "fair",
                      "loaded",
                      "tierMultiplierWeightedAvg"
                    ],
                    "properties": {
                      "fair": {
                        "type": "number"
                      },
                      "loaded": {
                        "type": "number"
                      },
                      "tierMultiplierWeightedAvg": {
                        "type": "number",
                        "description": "Weighted-average tier risk multiplier applied across spots in this currency (1.0 when no sub-spot)."
                      }
                    }
                  },
                  "CHF": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "fair",
                      "loaded",
                      "tierMultiplierWeightedAvg"
                    ],
                    "properties": {
                      "fair": {
                        "type": "number"
                      },
                      "loaded": {
                        "type": "number"
                      },
                      "tierMultiplierWeightedAvg": {
                        "type": "number",
                        "description": "Weighted-average tier risk multiplier applied across spots in this currency (1.0 when no sub-spot)."
                      }
                    }
                  }
                }
              },
              "loadingFactor": {
                "type": "number",
                "minimum": 0,
                "maximum": 2
              }
            }
          },
          "modelConfidence": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "advisoryLevel": {
            "type": "string",
            "enum": [
              "high_confidence",
              "moderate_confidence",
              "low_confidence"
            ]
          },
          "issuable": {
            "type": "boolean"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "underlying": {
            "description": "HistoricalScoreDistribution — object for single spot, array for portfolio.",
            "oneOf": [
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "quoteId": {
            "type": "string",
            "format": "uuid",
            "description": "Present when the policy store is wired — pass to /v1/underwriting/policy/bind to bind this quote."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp after which the quote can no longer be bound."
          },
          "boundPolicyId": {
            "type": "string",
            "format": "uuid",
            "description": "Present on GET after the quote has been bound — the resulting policy id."
          }
        }
      },
      "WebhookEvent": {
        "type": "string",
        "enum": [
          "outcome.created",
          "drift.fired",
          "drift.resolved",
          "calibration.completed",
          "billing.subscription_updated",
          "recommendation.completed",
          "underwriting.policy.bound",
          "underwriting.policy.triggered",
          "underwriting.policy.settled"
        ]
      }
    }
  },
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Liveness probe",
        "security": [],
        "responses": {
          "200": {
            "description": "Process is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/health/ready": {
      "get": {
        "summary": "Readiness probe (DB + skill lookup + LLM config)",
        "security": [],
        "responses": {
          "200": {
            "description": "Ready or degraded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          },
          "503": {
            "description": "Unhealthy (critical check failed)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/score": {
      "post": {
        "summary": "Score an activity at a location + time window",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activity",
                  "location"
                ],
                "additionalProperties": false,
                "properties": {
                  "activity": {
                    "type": "string",
                    "example": "kitesurfing"
                  },
                  "location": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "window": {
                    "$ref": "#/components/schemas/TimeWindow"
                  },
                  "ensemble": {
                    "type": "boolean",
                    "description": "L2a probabilistic ensemble (Pro+)"
                  },
                  "members": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 50
                  },
                  "rider_skill_level": {
                    "type": "string",
                    "enum": [
                      "beginner",
                      "intermediate",
                      "expert"
                    ],
                    "description": "Skill-conditioned scoring (Pro+)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Score 0-100 + verdict + confidence + eco + calibration_provenance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Daily safety cap for this endpoint + plan (not the monthly billing quota). Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Requests remaining in the current UTC-midnight daily window. Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Unix timestamp (seconds) at which the daily window resets. Omitted on unlimited (Scale) plans."
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — a premium capability (`ensemble` or `rider_skill_level`) was requested on a Free/Starter plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "ACTIVITY_NOT_FOUND — no profile for the activity. `detail` carries `valid_slugs` (see GET /v1/activities) plus a fuzzy `did_you_mean` suggestion when one catalog slug is a close match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (`VALIDATION_ERROR`), or `FORECAST_HORIZON_EXCEEDED` when the requested window ends beyond the ~16-day forecast horizon (use POST /v1/score/historical or /v1/projections for longer ranges).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this endpoint + plan (`RATE_LIMITED`). Covers both the daily safety cap and the monthly usage quota — `detail.scope` is `daily` or `monthly_quota`. `Retry-After` is set on both.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Seconds until the exceeded rate-limit window resets. Present on every 429 from a rate-limited route — both the daily safety-cap 429 (resets at 00:00 UTC) and the monthly-quota 429 (resets at 00:00 UTC on the 1st of next month). `detail.scope` on the body distinguishes `daily` vs `monthly_quota`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "INTERNAL_SERVER_ERROR — an upstream weather-provider fetch failed (or another unexpected error). A DependencyMissingError surfaces as 503 SERVICE_UNAVAILABLE instead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/activities": {
      "get": {
        "summary": "List discoverable base activity slugs",
        "description": "P2 (activity discovery DX) — the canonical, catalog-derived list of base activity slugs a caller can pass as `activity` to POST /v1/score (and the other activity-resolving routes). Never hardcoded: reflects exactly the base (`spot_kind: \"base\"`) profiles in the loaded catalog, so it can't drift as activities are added. `GET /v1/profiles` is an alias for this same endpoint.",
        "security": [],
        "responses": {
          "200": {
            "description": "Base activity slugs discoverable in the loaded catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "activities"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "display_name",
                          "family"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "kitesurfing"
                          },
                          "display_name": {
                            "type": "string",
                            "example": "Kitesurfing"
                          },
                          "family": {
                            "type": "string",
                            "description": "Activity category (water/snow/air/land/commercial).",
                            "example": "water"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/profiles": {
      "get": {
        "summary": "Alias for GET /v1/activities",
        "description": "Identical response to GET /v1/activities. Kept as an alias for back-compat with this document's original (pre-/v1/activities) promise of a `GET /v1/profiles` listing endpoint.",
        "responses": {
          "200": {
            "description": "Base activity slugs discoverable in the loaded catalog (same as GET /v1/activities)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "activities"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "activities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slug",
                          "display_name",
                          "family"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "slug": {
                            "type": "string",
                            "example": "kitesurfing"
                          },
                          "display_name": {
                            "type": "string",
                            "example": "Kitesurfing"
                          },
                          "family": {
                            "type": "string",
                            "example": "water"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/series": {
      "post": {
        "summary": "Time-series scoring across a window",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activity",
                  "location",
                  "window"
                ],
                "additionalProperties": false,
                "properties": {
                  "activity": {
                    "type": "string"
                  },
                  "location": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "window": {
                    "$ref": "#/components/schemas/TimeWindow"
                  },
                  "granularity": {
                    "type": "string",
                    "enum": [
                      "hourly",
                      "3-hourly",
                      "daily"
                    ]
                  },
                  "ensemble": {
                    "type": "boolean"
                  },
                  "members": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-step scores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreSeriesResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Daily safety cap for this endpoint + plan (not the monthly billing quota). Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Requests remaining in the current UTC-midnight daily window. Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Unix timestamp (seconds) at which the daily window resets. Omitted on unlimited (Scale) plans."
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — `ensemble` was requested on a Free/Starter plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "ACTIVITY_NOT_FOUND — no profile for the activity. `detail` carries `valid_slugs` (see GET /v1/activities) plus a fuzzy `did_you_mean` suggestion when one catalog slug is a close match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (`VALIDATION_ERROR`), or `WINDOW_TOO_LARGE` when the requested window exceeds the per-plan series span.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this endpoint + plan (`RATE_LIMITED`). Covers both the daily safety cap and the monthly usage quota — `detail.scope` is `daily` or `monthly_quota`. `Retry-After` is set on both.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Seconds until the exceeded rate-limit window resets. Present on every 429 from a rate-limited route — both the daily safety-cap 429 (resets at 00:00 UTC) and the monthly-quota 429 (resets at 00:00 UTC on the 1st of next month). `detail.scope` on the body distinguishes `daily` vs `monthly_quota`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/multi": {
      "post": {
        "summary": "Score multiple activities at one location",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activities",
                  "location"
                ],
                "additionalProperties": false,
                "properties": {
                  "activities": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 10
                  },
                  "location": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "window": {
                    "$ref": "#/components/schemas/TimeWindow"
                  },
                  "ensemble": {
                    "type": "boolean"
                  },
                  "members": {
                    "type": "integer",
                    "minimum": 2,
                    "maximum": 50
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-activity scores",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreMultiResponse"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Daily safety cap for this endpoint + plan (not the monthly billing quota). Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Requests remaining in the current UTC-midnight daily window. Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Unix timestamp (seconds) at which the daily window resets. Omitted on unlimited (Scale) plans."
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — `ensemble` was requested on a Free/Starter plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (`VALIDATION_ERROR`), or `MAX_ACTIVITIES_EXCEEDED` when the request lists more activities than the per-plan cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this endpoint + plan (`RATE_LIMITED`). Covers both the daily safety cap and the monthly usage quota — `detail.scope` is `daily` or `monthly_quota`. `Retry-After` is set on both.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Seconds until the exceeded rate-limit window resets. Present on every 429 from a rate-limited route — both the daily safety-cap 429 (resets at 00:00 UTC) and the monthly-quota 429 (resets at 00:00 UTC on the 1st of next month). `detail.scope` on the body distinguishes `daily` vs `monthly_quota`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/historical": {
      "post": {
        "summary": "Historical climatology scoring (Pro+)",
        "description": "Percentiles + exceedance + verdict frequency over ERA5 reanalysis. Each entry carries a historical-mode ConfidenceDetail block (see components.schemas.ConfidenceDetailHistorical).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activity",
                  "location",
                  "yearsRange",
                  "granularity",
                  "selector"
                ],
                "additionalProperties": false,
                "properties": {
                  "activity": {
                    "type": "string"
                  },
                  "location": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "yearsRange": {
                    "type": "object",
                    "required": [
                      "from",
                      "to"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "from": {
                        "type": "integer",
                        "minimum": 1940
                      },
                      "to": {
                        "type": "integer"
                      }
                    }
                  },
                  "granularity": {
                    "type": "string",
                    "enum": [
                      "month",
                      "week",
                      "day-of-year",
                      "daypart"
                    ]
                  },
                  "selector": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "month": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12
                      },
                      "weekOfYear": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 53
                      },
                      "dayOfYear": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 366
                      },
                      "daypart": {
                        "type": "string",
                        "enum": [
                          "morning",
                          "midday",
                          "afternoon",
                          "evening"
                        ]
                      }
                    }
                  },
                  "failOnMarineGap": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Percentiles + exceedance + verdict frequency (per-entry confidenceDetail: historical)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Daily safety cap for this endpoint + plan (not the monthly billing quota). Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Requests remaining in the current UTC-midnight daily window. Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Unix timestamp (seconds) at which the daily window resets. Omitted on unlimited (Scale) plans."
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — historical scoring requires a Pro or Scale plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "ACTIVITY_NOT_FOUND — no profile for the requested activity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (`VALIDATION_ERROR`), `WINDOW_TOO_LARGE`, `INVALID_YEARS_RANGE`, or `MARINE_NOT_AVAILABLE` (marine data gap when `failOnMarineGap` is set).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this endpoint + plan (`RATE_LIMITED`). Covers both the daily safety cap and the monthly usage quota — `detail.scope` is `daily` or `monthly_quota`. `Retry-After` is set on both.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Seconds until the exceeded rate-limit window resets. Present on every 429 from a rate-limited route — both the daily safety-cap 429 (resets at 00:00 UTC) and the monthly-quota 429 (resets at 00:00 UTC on the 1st of next month). `detail.scope` on the body distinguishes `daily` vs `monthly_quota`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "ARCHIVE_UNAVAILABLE — the ERA5 historical archive provider is not configured / reachable on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/portfolio": {
      "post": {
        "summary": "Multi-spot portfolio scoring with joint variance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "spots",
                  "yearsRange",
                  "granularity",
                  "selector"
                ],
                "additionalProperties": false,
                "properties": {
                  "spots": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "required": [
                        "location",
                        "activity"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "location": {
                          "$ref": "#/components/schemas/GeoPoint"
                        },
                        "activity": {
                          "type": "string"
                        },
                        "weight": {
                          "type": "number",
                          "exclusiveMinimum": 0
                        },
                        "spotId": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "yearsRange": {
                    "type": "object",
                    "required": [
                      "from",
                      "to"
                    ],
                    "additionalProperties": false,
                    "properties": {
                      "from": {
                        "type": "integer",
                        "minimum": 1940
                      },
                      "to": {
                        "type": "integer"
                      }
                    }
                  },
                  "granularity": {
                    "type": "string",
                    "enum": [
                      "month",
                      "week",
                      "day-of-year",
                      "daypart"
                    ]
                  },
                  "selector": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "month": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 12
                      },
                      "weekOfYear": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 53
                      },
                      "dayOfYear": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 366
                      },
                      "daypart": {
                        "type": "string",
                        "enum": [
                          "morning",
                          "midday",
                          "afternoon",
                          "evening"
                        ]
                      }
                    }
                  },
                  "correlation": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "none",
                          "exponential"
                        ]
                      },
                      "lengthKm": {
                        "type": "number",
                        "exclusiveMinimum": 0
                      }
                    }
                  },
                  "cancellationThreshold": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Portfolio score + per-spot contributions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Daily safety cap for this endpoint + plan (not the monthly billing quota). Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Requests remaining in the current UTC-midnight daily window. Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Unix timestamp (seconds) at which the daily window resets. Omitted on unlimited (Scale) plans."
              }
            }
          },
          "402": {
            "description": "PAYMENT_REQUIRED — portfolio scoring requires a Pro or Scale plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "ACTIVITY_NOT_FOUND — a spot references an activity with no profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (`VALIDATION_ERROR`), `PORTFOLIO_TOO_LARGE` (more spots than the per-plan cap), or `INVALID_YEARS_RANGE`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this endpoint + plan (`RATE_LIMITED`). Covers both the daily safety cap and the monthly usage quota — `detail.scope` is `daily` or `monthly_quota`. `Retry-After` is set on both.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Seconds until the exceeded rate-limit window resets. Present on every 429 from a rate-limited route — both the daily safety-cap 429 (resets at 00:00 UTC) and the monthly-quota 429 (resets at 00:00 UTC on the 1st of next month). `detail.scope` on the body distinguishes `daily` vs `monthly_quota`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "503": {
            "description": "ARCHIVE_UNAVAILABLE — the ERA5 historical archive provider is not configured / reachable on this deployment.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score/explain-counterfactual": {
      "post": {
        "summary": "Counterfactual analysis: binding constraint + sensitivities + best window/spot",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "activity",
                  "spot",
                  "window"
                ],
                "additionalProperties": false,
                "properties": {
                  "activity": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "spot": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "window": {
                    "$ref": "#/components/schemas/TimeWindow"
                  },
                  "include": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "marginal_sensitivities": {
                        "type": "boolean"
                      },
                      "binding_constraint": {
                        "type": "boolean"
                      },
                      "best_window_24h": {
                        "type": "boolean"
                      },
                      "best_nearby_spot_km": {
                        "type": "number",
                        "maximum": 200
                      },
                      "natural_language": {
                        "type": "boolean",
                        "description": "LLM explanation. Available on any plan (Anthropic BYOK) — resolves the tenant's own Anthropic key set via PUT /v1/tenant/llm-key; no key configured degrades to a deterministic template (natural_language.degraded_mode=true) rather than an error."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "binding_constraint + marginal_sensitivities + best_window_24h + best_nearby_spots + optional natural_language",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Daily safety cap for this endpoint + plan (not the monthly billing quota). Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Requests remaining in the current UTC-midnight daily window. Omitted on unlimited (Scale) plans."
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Unix timestamp (seconds) at which the daily window resets. Omitted on unlimited (Scale) plans."
              }
            }
          },
          "404": {
            "description": "NOT_FOUND / ACTIVITY_NOT_FOUND — no profile for the activity. `detail` carries `valid_slugs` (see GET /v1/activities) plus a fuzzy `did_you_mean` suggestion when one catalog slug is a close match.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded for this endpoint + plan (`RATE_LIMITED`). Covers both the daily safety cap and the monthly usage quota — `detail.scope` is `daily` or `monthly_quota`. `Retry-After` is set on both.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer",
                  "minimum": 0
                },
                "description": "Seconds until the exceeded rate-limit window resets. Present on every 429 from a rate-limited route — both the daily safety-cap 429 (resets at 00:00 UTC) and the monthly-quota 429 (resets at 00:00 UTC on the 1st of next month). `detail.scope` on the body distinguishes `daily` vs `monthly_quota`."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/decision": {
      "post": {
        "summary": "Personalized go/no-go decision (any plan — Anthropic BYOK)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_pseudonym",
                  "activity",
                  "spot",
                  "window"
                ],
                "additionalProperties": false,
                "properties": {
                  "user_pseudonym": {
                    "type": "string",
                    "minLength": 32,
                    "pattern": "^[0-9a-fA-F]+$",
                    "description": "SHA256(user_id + secret)[:32], hex ≥32 chars. NEVER PII."
                  },
                  "activity": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "spot": {
                    "$ref": "#/components/schemas/GeoPoint"
                  },
                  "window": {
                    "$ref": "#/components/schemas/TimeWindow"
                  },
                  "user_profile": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "experience": {
                        "type": "string",
                        "enum": [
                          "beginner",
                          "intermediate",
                          "advanced",
                          "expert"
                        ]
                      },
                      "weight_kg": {
                        "type": "number",
                        "exclusiveMinimum": 0,
                        "maximum": 300
                      },
                      "risk_tolerance": {
                        "type": "string",
                        "enum": [
                          "conservative",
                          "moderate",
                          "aggressive"
                        ]
                      },
                      "owned_gear": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "maxLength": 64
                        },
                        "maxItems": 20
                      }
                    }
                  },
                  "training_consent": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
[...]
